{% include "header.html" %}

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container-fluid">
            <div id="banner">
                <h1>Add a counter</h1>
            </div>
        </div>
      </div>
    
      <div class="container-fluid">
            <form action="/allowedlistcreate" method="post">
              <hr>
              <div class="form-group">
                <label for="id">Name</label>  
                <input type="text" name="id" class="form-control" placeholder="The counter name also the id for the counter"></input>
              </div>
              <hr>
              <div class="form-group">
                <label for="url">URL</label>
                <input type="url" class="form-control" name="domain" placeholder="URL where counter used"></input>
              </div>
                <br>
                <input type="submit" value="Add"></input>
            </form>
            </div>
        <hr>
      </div> <!-- /container -->
    </main>

    {% include "footer.html" %}
    