
    {% include "header.html" %}

    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
            <div id="banner">
                <h1>List of Signup</h1>
            </div>
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="card" id="output">
                <div class="card-body">
                    <a class="btn btn-sm btn-success" href="/adddonation" title="Add" ><i class="glyphicon glyphicon-pencil"></i> Add Another Signup</a>
                    </br></br>
                    {% block content %}
                    <table id="datast" class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">NRO</th>
                            <th scope="col">Email</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th style="width:100px;">Action</th>
                            <th style="width:100px;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if donations %}
                            {% for entry in donations %}
                            <tr>
                              <td>{{entry.id}}</td>
                              <td>{{entry.email}}</td>
                              <td>{{entry.firstname}}</td>
                              <td>{{entry.lastname}}</td>  
                              <td><a class="btn btn-sm btn-success" href="/donationedit?id={{ entry.docid }}" title="Edit" ><i class="glyphicon glyphicon-pencil"></i> Edit</a></td>
                              <td><a class="btn btn-sm btn-danger" href="/deletedonation?id={{ entry.docid }}" title="Delete"><i class="glyphicon glyphicon-pencil"></i> Delete</a></td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                      {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
      </div> <!-- /container -->

    </main>

  {% block scripts %}

    <script>
        $(document).ready(function () {
          $('#datast').DataTable({
            columns: [
                {data: 'id'},
                {data: 'email'},
                {data: 'firstname'},
                {data: 'lastname'},
                {data: 'action', orderable: false},
                null
            ],
          });
        });
    </script>
  
    {% endblock scripts %}

    {% include "footer.html" %}