{% include "header.html" %}

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container-fluid">
            <div id="banner">
                <h1>Get your NROs Signups</h1>
            </div>
            <form action="/signups" method="post">
                <input type="text" name="id"></input>
                <br>
                <br>
                <input type="submit" value="GET Signups"></input>
            </form>
        </div>
      </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="card" id="output">
                <div class="card-body">
                    {% for e in output %}
                      {{e}}
                    {% endfor %}
                  </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div>
                <iframe src="/count?id=testcounter" width="1" height="1" frameborder=0 style="overflow:hidden;" scrolling="no"></iframe>
            </div>
        </div>
      </div> <!-- /container -->

    </main>

    {% include "footer.html" %}