{% include "header.html" %}


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Work+Sans:400,500,600,700" 8/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" defer></script>

    <!-- INICIO DEL CONTADOR -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/odometer@0.4.8/themes/odometer-theme-default.min.css" />
        <style>
            .odometer.odometer-auto-theme,
            .odometer {
                font-size: 25px;
                font-family: "Rubik", sans-serif;
                font-weight: 600;
            }
            .odometer.odometer-auto-theme .odometer-digit,
            .odometer .odometer-digit {
                color: #444;
                border: 1px solid #ddd;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/odometer@0.4.8/odometer.min.js" defer></script>
    <div id="odometer2container"><span id="odometer2" class="odometer2"></span> firmas</div>
    <script>
        /* jshint browser: true, esversion: 6 */
        /* global Odometer, odometer, jQuery, analytics, console */
        document.addEventListener("DOMContentLoaded", function() {
            jQuery.ajax({
                url: "/signups/id=testcounter"
            }).done(function( data ) {
                const counterValue = Number(data.signups);
                const el = document.querySelector('.odometer2');
                const odometer = new Odometer({
                    el: el,
                    format: '.ddd.ddd',
                    value: counterValue - Math.round( counterValue / 10 ),
                    duration: 2000,
                });
                odometer.update(counterValue);
            });
        });
    </script>
    <!-- FIN DEL CONTADOR -->

    {% include "footer.html" %}