  {% include "header.html" %}

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
            <div id="banner">
                <p>From the beaches of Southeast Asia to the remote Antarctic, plastic pollution is everywhere. It starts polluting the moment it's created, impacting our oceans, our climate and the health of our communities. Microplastics pollution has now even been found in the air we breathe and the food we eat. We need a solution that matches the scale of the problem.
                    <br><br>
                    A global treaty on plastics is that solution. We are one step closer in the UN process to achieving it. Negotiations will start later this year, with the goal of completing the process by the end of 2024.
                </p>
            </div>
        </div>
      </div>

    <div class="container">
        <!-- Example row of columns -->
            <form action="/donation" method="post">
              <div class="form-group">
                <input class="form-control" type="hidden" name="id" value="GPNO"></input>
              </div>  
                <hr>
              <div class="form-group">
                <label for="email">Email</label>  
                <input class="form-control" type="email" name="email"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input class="form-control" type="text" name="firstname"></input>
              </div>  
                <hr>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input class="form-control" type="text" name="lastname"></input>
              </div>
                <br>
                <br>
                <input type="submit" value="Signup"></input>
            </form>
            </div>
        <hr>
      </div> <!-- /container -->

    </main>

    {% include "footer.html" %}
    