
{% include "header.html" %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
            <div id="banner">
                <h1>List of all counters</h1>
            </div>
        </div>
      </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="card" id="output">
                <div class="card-body">
                    <a class="btn btn-sm btn-success" href="/addlist" title="Add" ><i class="glyphicon glyphicon-pencil"></i> Add Another Counter</a>
                    <br />
                    <br />
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">NRO</th>
                            <th scope="col">Counter</th>
                            <th scope="col">URL</th>
                            <th scope="col">Contact point</th>
                            <th scope="col">End point</th>
                            <th style="width:200px;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if output %}
                            {% for ngo in output %}
                            <tr>
                              <th scope="row"></th>
                              <td>{{ ngo.id }}</td>
                              <td>{{ ngo.count }}</td>
                              <td>{{ ngo.url }}</td>
                              <td>{{ ngo.contactpoint }}</td> 
                              <td><b>/count?id={{ ngo.id }}</b></td>
                              <td>
                                <a class="btn btn-sm btn-success" href="/listedit?id={{ ngo.id }}" title="Edit" ><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="/listdelete?id={{ ngo.id }}" title="Delete"><i class="glyphicon glyphicon-pencil"></i> Delete</a>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}      
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
      </div> <!-- /container -->

    </main>

    {% include "footer.html" %}